{% extends 'base.html.twig' %}

{% block body %}
<h1>{{msg}}</h1>
{{ form_start(form)}}
{{ form_label(form.prenom)}}
{{ form_widget(form.prenom)}}
{{ form_label(form.email)}}
{{ form_widget(form.email)}}
{{ form_label(form.mdp)}}
{{ form_widget(form.mdp)}}
<input type="submit">S'inscrire'</input>
{{ form_end(form, {'render_rest': false}) }}

{% endblock %}
